{% block body %}
  <table width="100%" border="0">
    <tr>
      <td align="center">
        <h1>Join Us at Nerd</h1>
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://nerd.blvd.ai/accept/?invite={{invite}}" title="Accept">Accept Invitation</a>
      </td>
    </tr>
  </table>
  {% endblock %}
